body {
  background-color: #2c3e50;
  color: #34495e;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #2c3e50;
}

.greetingForm,
.greetingText {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImg {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  animation: fadeIn 2s linear;
}
